.fa-instagram-color {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.fab {
  color: #f7f7f7;
}

.fas {
  color: #f7f7f7;
  margin: 0.5em;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.abs {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item {
  position: relative;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.1em;
}

.container {
  max-width: 992px;
}

.headerDivider {
     border-left:0.5px solid #292b2c;
     border-right:0.5px solid #292b2c;
     height:2em;
}

hr {
  margin-top: 1rem;
  margin-bottom: 0rem;
  margin-left: 5rem;
  margin-right: 5rem;
}


@media (min-width: 604px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}
